body {
  background-color: rgb(238, 202, 202);
}
#label {
  margin-top: 20px;
  margin-bottom: 10px;
  color: rgb(44, 42, 42);
  font-size: 14px;
  margin-left: 12px;
}
input {
  margin: 20px 0 0 1em;
}
#spaceleft {
  margin-left: 2em;
}
